annotated-types==0.7.0
asttokens==2.4.1
attrs==23.2.0
Babel==2.15.0
bibtexparser==2.0.0b7
bidict==0.23.1
blinker==1.8.2
blis==0.7.11
catalogue==2.0.10
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
clldutils==3.22.2
cloudpathlib==0.18.1
colorama==0.4.6
colorlog==6.8.2
confection==0.1.5
csvw==3.3.0
cymem==2.0.8
decorator==5.1.1
dill==0.3.8
dlinfo==1.2.1
editdistance @ git+https://github.com/roy-ht/editdistance@9e05bc645062f68a5c329ea64a1c31cd142bd185
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
executing==2.0.1
Flask==3.0.3
Flask-SocketIO==5.3.6
ftfy==6.2.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
gruut-ipa==0.13.0
h11==0.14.0
humanfriendly==10.0
idna==3.7
inflect==7.3.0
ipython==8.25.0
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
langcodes==3.4.0
langdetect==1.0.9
language-tags==1.2.0
language_data==1.2.0
logmap==0.0.3
loguru==0.7.2
lxml==5.2.2
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.3.0
multiprocess==0.70.16
multiset==3.1.0
munkres==1.1.4
murmurhash==1.0.10
mypy==1.10.1
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.26.4
ordered-set==4.1.0
orjson==3.10.5
packaging==24.1
pandas==2.2.2
panphon==0.20.0
parso==0.8.4
pexpect==4.9.0
phonemizer==3.2.1
preshed==3.0.9
prompt_toolkit==3.0.47
prosodic @ git+https://github.com/quadrismegistus/prosodic@d8944c49428bb884227847e3f159cdbaed7f35eb
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pylatexenc==2.10
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
PyYAML==6.0.1
rdflib==7.0.0
redis==5.0.6
redis-dict==2.5.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.1
segments==2.2.1
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smart-open==7.0.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.3
syllabiphon @ git+https://github.com/dmort27/syllabiphon@7cb3452d77e357bb8dcdf7a7e7d8a37babe235b6
tabulate==0.9.0
thinc==8.2.5
tqdm==4.66.4
traitlets==5.14.3
typeguard==4.3.0
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==2.2.2
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
zope.event==5.0
zope.interface==6.4.post2
